.match-card{
  flex: 1;
  
}

.match-card:hover{
  cursor: pointer;
}

.match-card img{
  width: 5rem;
  height: 5rem;
  /* width: 60%; */
}

.match-card-pic {
  -webkit-box-shadow: -2px -1px 19px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -1px 19px -2px rgba(0,0,0,0.75);
  box-shadow: -2px -1px 19px -2px rgba(0,0,0,0.75);
}